@tailwind base;
@tailwind components;
@tailwind utilities;

.contour {
	text-shadow: 0 0 10px #0f291b;
}

.contour-title-favorites {
	text-shadow: 0 0 4px #d63810;
}

.contenedor_search {
	@apply max-w-screen-2xl h-auto m-auto pt-6 px-6 md:px-10;
}
.contenedor_search::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 0, 0, 0.5);
}

.boxParentGenre {
	@apply hidden md:flex flex-wrap gap-3 pb-5;
}

/* .boxParentGenre:last-Child {
  background-color: #d63810;
  color: aquamarine;
} */

.selectedTrend {
	background-color: #01b4e4;
	color: #0d253f;
	border-top-right-radius: 0.75rem;
	border-bottom-right-radius: 0.75rem;
	transition: all 0.8s ease;
}

.inner_context {
	padding-top: 70px;
	box-sizing: border-box;
	width: 100%;
	background-image: url(/public/bg_about/red_pipes.svg);
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	top: 0;
	left: 0;
	z-index: 2;
}
